# Python cache
__pycache__/
*.py[cod]

# Virtual environments
venv/
env/
.venv/

# PyCharm settings
.idea/

# Environment variables and secrets
.env

# Django database
db.sqlite3

# Django collected static files
staticfiles/
